body{
    background-image: url(./assets/img/backG.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
    
.flex-container {
    margin: 50px 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    justify-content: center;
}
    
.flex-container > div {
    border-radius: 10px;
    box-shadow: 2px rgba(0,0,0,0.2);
    background-color: #FFF;
    width: 300px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}
    
.flex-container > div > .imgContainer {
    position: relative;
    height: 300px;
    width: 300px;
}
.flex-container > div > .imgContainer > img {
    border-radius: 100%;
}
.flex-container > div > .imgContainer > span {
    background-color: rgba(255,0,0,0.75);
    border-radius: 100%;
    padding: 20px;
    font-size: 20px;
    color: #FFF;
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: bold;
}