$themeColor-White: #FFF;
$themeColor-White07: rgba(255,255,255,0.7);
$themeColor-Black025: rgba(0,0,0,0.25);
$themeColor-Black01: rgba(0,0,0,0.1);
$themeColor-Red075: rgba(255,0,0,0.75);
$themeColor-InputBorderColor: #CCC;
$themeColor-InputColor: #555;
$themeColor-InputBoxShadow: rgba(0,0,0,.075);
$themeColor-HColor: rgb(242,85,103);
$themeColor-PColor: rgb(145,133,132);